-
  var app = { 
    lang: 'ru',
    head: {
      title: 'Verdant studio',
      description: 'Verdant is a great place.',
      index: {
        title: '',
        description: ''
      },
    },
  }
